# 모든 텍스트 파일의 줄 바꿈 스타일을 LF로 자동 변환하도록 설정합니다.
# 이렇게 하면 Windows 사용자가 CRLF로 저장했더라도, Git에 commit될 때는 LF로 변환됩니다.
* text=auto eol=lf

# 이미지나 폰트, 압축 파일 등 바이너리 파일은 변환되지 않도록 예외 처리합니다.
*.{png,jpg,jpeg,gif,ico} binary
*.{eot,ttf,woff,woff2} binary
*.{zip,gz} binary